[submodule "blockmiui"]
	path = blockmiui
	url = https://github.com/Block-Network/blockmiui.git
[submodule "hyperx-compose"]
	path = hyperx-compose
	url = https://github.com/HowieHChen/hyperx-compose.git
