<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gswxxn.restoresplashscreen">

    <uses-permission
            android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission"/>

    <application
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="false"
            android:label="MIUI遮罩进化"
            android:theme="@style/Theme.RestoreSplashScreen">
        <activity
                android:name=".ui.AboutPageActivity"
                android:exported="true"/>
        <activity
                android:name=".ui.ConfigAppsActivity"
                android:exported="true"
                android:parentActivityName=".ui.MainActivity"/>
        <activity
                android:name=".ui.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".Home"
            android:enabled="true"
            android:exported="true"
            android:label="MIUI遮罩进化"
            android:screenOrientation="behind"
            android:targetActivity=".ui.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposedminversion"
                android:value="93"/>
        <meta-data
                android:name="xposedscope"
                android:value="com.android.systemui"/>
        <meta-data
                android:name="xposeddescription"
                android:value="自定义MIUI的SplashScreen\n酷安@迷璐"/>
    </application>

</manifest>