<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gswxxn.restoresplashscreen">

    <application
            android:label="RestoreSplashScreen"
            android:allowBackup="false">
        <meta-data
                android:name="xposedmodule"
                android:value="true"/>

        <meta-data
                android:name="xposedminversion"
                android:value="54"/>

        <meta-data
                android:name="xposedscope"
                android:value="com.android.systemui"/>

        <meta-data
                android:name="xposeddescription"
                android:value="尝试恢复被MIUI阉割的SplashScreen\n酷安@迷璐"/>
    </application>

</manifest>